
@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html,body {
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    overflow:hidden;
    font-family: 'Cafe24Oneprettynight';
} 

#fullpage {
    position:relative;
    top:0px;
    z-index:9;
    width:100%;
    height:100%;
} 
.fullsection{
    width:100%;
    height:100%;
    position:relative;
} 

.full1{background:#F2EFDF;} 
.full2{background:#F2EFDF;} 
.full3{background:#F2EFDF;} 
.full4{background:#F2EFDF;} 
.full5{background:#F2EFDF;} 

.full_img img{
    width: 100%;

}
.full_title span{
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#fff;
    font-size:4em;
    color: #D5B78A;
    font-family: 'Cafe24Oneprettynight';
} 
.full_name span{
    display:block;
    position:absolute;
    top:75%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#fff;
    font-size:5em;
    color: #AE8A53;
}

.full span{
    color:#000;}


ul, li{
    margin:0;
    padding:0;
    list-style:none
} 
.quick {
    position:fixed;
    right:20px;
    top:50%;
    transform:translateY(-50%); 
    z-index:100000} 
.quick li {
    width:10px;
    height:10px;
    margin-bottom:10px; 
    border-radius:15px;
    border:2px solid #999;
    cursor:pointer;} 
.quick .on {
    background:#999;
}

.left_menu {
    position: fixed;
    background: #fff;
    width: 80px;
    height: 80px;
    z-index: 1000;
    border-radius: 100%;
    box-shadow: 2px 2px 2px 2px #ddd;
    top: 50%;
    left: 2%;
}
.full_img {
    position: fixed;
    bottom: 0px;
}

/*1페이지*/
.center_bg {
    background: url(../img/moon.png) no-repeat;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-9%,-32%);
}

.page_title {
    display: block;
    position: absolute;
    font-size:3em;
    color: #AE8A53;
    top: 1%;
    left: 2.5%;
    font-weight: bold;
}
.mj_pro {
    width: 70%;
    margin: auto;
    padding-top: 14%;
}
.mj_img, .mj_text {
    float: left;
}
/*.mj_text span {
    font-size: 2.5em;
    margin-left: 10px;
    color: #AE8A53;
    font-family: 'nanumsquare';
}*/
.mj_text {
    color: #AE8A53;
    font-family: 'nanumsquare';
    margin-left: 12%;
}
.br {
    width: 100%;
    height: 3px;
    background: #AE8A53;
}
.br2 {
    width: 90%;
    height: 1px;
    background: #ddd;
    margin:auto;

}
.profile_text {
    font-size: 16px;
    line-height: 25px;
}
.mj_width {
    width: 40%;
    display: inline-block;
    margin-left: 6%;
    position: relative;
}

.zt-skill-bar {
    color: #fff;
    font-size: 11px;
    line-height: 25px;
    height: 25px;
    margin-bottom: 5px;
    background-color: rgba(0,0,0,0.1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 20px;
    float: left;
    width: 71%;
    margin-top: 17px;
    margin-left: 40px;

}

.zt-skill-bar * {
    webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
       -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
           transition: all 0.5s ease;
}

.zt-skill-bar div {
    background-color: #515FA7;
    position: relative;
    padding-left: 25px;
    width: 0;

    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
       -ms- border-radius: 20px;
            border-radius: 20px;
}

.zt-skill-bar span {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 5px 0 10px;
    background-color: #102178;

    -webkit-border-radius: 0 2px 2px 0;
       -moz-border-radius: 0 2px 2px 0;
        -ms-border-radius: 0 2px 2px 0;
            border-radius: 0 2px 2px 0;
}

/*.zt-skill-bar span:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    top: 50%;
    left: -3px;
    margin-top: -3px;
    background-color: #1a1a1a;

    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
*/
.markup_list {
    position: relative;
}

.markup_list p {
    position: absolute;
    bottom: 0px;
    left: 22%;
}

.works_list{
    width: 62%;
    margin: auto;
    padding: 14% 5%;
}
.layout_pop {
    font-family: 'nanumsquare';
}
.layout_pop .btn_img {
    background: none;
    border:none;
}
.layout_pop h2 {
    font-weight: normal;
    font-size:30px;
    text-align: center;
    color: #555;
}
#id01 {
    position:fixed; 
    z-index:9999; 
    background-color:rgba(0,0,0,0.4); 
    display:none; 
    left:0;  
    top:0; 
    bottom:0; 
    right:0; 
    width:100%; 
} 
#id02, #id03, #id04,
#id05, #id06, #id07{
    position:fixed; 
    z-index:9999; 
    background-color:rgba(0,0,0,0.4); 
    display:none; 
    left:0;  
    top:0; 
    bottom:0; 
    right:0; 
    width:100%; 
} 
/* 팝업으로 뜨는 윈도우 css  */ 
.mask{
    position:absolute; 
    left:25%; 
    top:20%; 
    width:50%; 
    margin:auto; 
    height:auto; 
    background-color:#fff; 
    z-index:10000;
}
.mask24{
    position:absolute; 
    left:25%; 
    top:20%; 
    width:50%; 
    margin:auto; 
    height:auto; 
    background-color:#fff; 
    z-index:10000;
}

.item_page {
    float: left;
    width:48%;
    margin-bottom: 50px;
    margin-top: 30px;
}
.item_page_wrap {
    width: 90%;
    margin:auto;
}
.view {
    background: #FBE1A5;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}
.item_page img {
    text-align: center;
}
.close_btn {
    float: right;
    font-size: 20px;
    margin-right: 20px;
    margin-top: 16px;
    cursor: pointer;
}
.layout_pop  li {
    display: inline-block;
    margin:20px;
    cursor: pointer;
}

.layout_pops {
    width: 62%;
    margin: auto;
    padding: 15%;
    font-size: 20px;
    font-family: 'nanumsquare';
    color: #AE8A53;
}
.layout_pops li {
    margin-top: 20px;
}
.layout_pops h2 {
    font-size: 40px;
}



.panel {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  position: fixed;
  z-index: 9999;
  top: 0;
  height: 100%;
  width: 40%;
  background-color: #fff;
  font-family: 'nanumsquare';
}

.panel .ninja-btn {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  display: inline-block;
  float: left;
  cursor: pointer;
  padding: 30.285714px 31px;
  position: absolute;
  z-index: 2;
  top: 0;
  width: 30px;
  height: 20.18181818px;
}
.panel .ninja-btn span,
.panel .ninja-btn span:before,
.panel .ninja-btn span:after {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  width: 30px;
  height: 2px;
  background-color: #555;
}
.panel .ninja-btn span {
  position: relative;
    display: inline-block;
    float: left;
    margin-top: 3.090909px;
    margin-left: -9px;
}
.panel .ninja-btn span:before,
.panel .ninja-btn span:after {
  content: "";
  position: absolute;
  left: 0;
}
.panel .ninja-btn span:before {
  top: -9.09090909px;
}
.panel .ninja-btn span:after {
  top: 9.09090909px;
}

/*메뉴 클릭후, 메뉴 버튼을 활성화 시켰을때 속성*/
.panel .ninja-btn.active span {
  background-color: transparent;
}
.panel .ninja-btn.active span:before,
.panel .ninja-btn.active span:after {
  top: 0;
}
.panel .ninja-btn.active span:before {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
}
.panel .ninja-btn.active span:after {
  -webkit-transition-delay: 0.09s;
  -moz-transition-delay: 0.09s;
  -o-transition-delay: 0.09s;
  -msa-transition-delay: 0.09s;
  transition-delay: 0.09s;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
}
.panel ul {
  width:100%;
  list-style-type: none;
  position: absolute;
  z-index: 1;
  margin: 0;
  padding: 0;
  top: 15%;
  left: 0;
  right: 60px;
  height: auto;
  text-align: left;
}

.panel ul li,
.panel ul a {
  display: block;
  line-height: 1.4;
  padding: 0;
  font-weight: 200;
}
.panel ul li.menu-label a{
  padding:11px 0 0 40px;
  height:100%;
  display:block;
  font-size: 50px;
  color:#AE8A53;
}
.panel ul li.menu-label:first-child {
  border-top: 0;
}



/* 안보이는 패널위치고정 */


.panel.left {
  left: -40%;
}
/*패널 버튼 부분 위치*/
.panel.left .ninja-btn {
  left: 790px;
  width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 100px;
    top: 47%;
}
/* 패널이 활성화 되었을때 */
.panel.left.active {
  left: 0;
}
.panel.left.active .ninja-btn {
  left: 100%;
  margin-left: -90px;
}

.panel ul li.sub-menu{
  
  padding:11px 0 0 50px;
}

.mj_img img {
    width: 100%;
}
.mj_text span {
    font-size: 1.3em;
    font-weight: bold;
}